<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Tratamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list lines="full">
        <ion-item>
            <ion-label position="fixed" color="gris" ><strong>Nombre</strong></ion-label>
          <ion-input  id="name" name="name"  class="aling-right" required type="text" placeholder="Nombre" [(ngModel)]="tratamiento.nombre"  #name="ngModel" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="fixed" color="gris" ><strong>Fecha</strong></ion-label>
            <ion-datetime class="aling-right-datetime"
            displayFormat="DD MMMM YYYY" 
            month-names="Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre"
            [(ngModel)]="tratamiento.fecha" 
            cancelText="Cancelar"
            doneText="Ok"
            [max] = "maxDate"></ion-datetime>

        </ion-item>
        <ion-item>
            <ion-label position="fixed" color="gris" ><strong>Proximo</strong></ion-label>
            <ion-datetime class="aling-right-datetime" 
            displayFormat="DD MMMM YYYY" 
            month-names="Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre"
            [(ngModel)]="tratamiento.proximo_tratamiento" 
            cancelText="Cancelar"
            doneText="Ok"
            [max] = "maxDate"></ion-datetime>

        </ion-item>
        <ion-item>
            <ion-label position="fixed" color="gris" ><strong>Notas</strong></ion-label>
            <ion-textarea class="aling-right" rows="5" [(ngModel)]="tratamiento.notas" placeholder="Notas" ></ion-textarea>
        </ion-item>
        
    </ion-list>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="name.invalid"  (click)="guardar()">
        <ion-icon name="save"></ion-icon>
    </ion-fab-button>
    </ion-fab>
</ion-content>
